body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://images.pexels.com/photos/397431/pexels-photo-397431.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
